<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37142850-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-37142850-5');
  </script>

  <title>Red Hat Enterprise Linux Interactive Learning Portal</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />

  <meta name="robots" content="noindex">
  <meta name="description" content="">
  <link href="/static/katacoda.css" rel="stylesheet" type="text/css" media="screen, print">
  <script src="{{.Site.KatacodaHost}}/embed.js"></script>
</head>
<body>
