{{ template "templates/header.html" . }}
{{ template "templates/master-header.html" . }}

<section class="text-center">
  <div class="container">
    <div class="row">
      <h3>Learning Scenarios</h3>
      <div id="katacoda-dashboard"
        data-katacoda-id="{{.Site.KatacodaUser}}/homepage/dashboard"
        data-katacoda-color="#e4e7ee"
        data-katacoda-secondary="#c00"
        data-katacoda-background="#fff"
        data-katacoda-font="Open Sans"
        data-katacoda-fontheader="Open Sans" style="height:1400px;">
      </div>
    </div>
  </div>
</section>
