<header class="masterheader">

    <div class="navbar-default">
        <div class="navbar-header">
          <a href="https://lab.redhat.com">
            <img src="/static/logo.svg" style="width: 150px;margin: 10px 0px 0px 55px;" alt="">
          </a>
        </div>
      </div>
    
    <div class="container">
      <h1>Red Hat Enterprise Linux Skills Workshops</h1>
      <h2>These interactive labs provide you with a pre-configured Red Hat® Enterprise Linux® instance to experiment, learn, and see how Red Hat can help you solve real-world problems.</h2>
    </div>
  </header>
