{{ template "templates/header.html" . }}
{{ template "templates/banner.html" . }}

<section>
  <div id="katacoda-scenario-1"
      data-katacoda-id="{{.Site.KatacodaUser}}/training/{{ .Training.Name }}/{{ .Name }}"
      data-katacoda-ctatext="Continue Training" data-katacoda-ctaurl="https://lab.redhat.com/training/{{ .Training.Name }}"
      data-katacoda-color="#b62020"
      data-katacoda-secondary="#c00"
      data-katacoda-background="#fff"
      data-katacoda-font="Open Sans"
      data-katacoda-fontheader="Open Sans"
      style="height: calc(100vh - 54px);">
  </div>
</section>

{{ template "templates/footer.html" . }}
