{{ template "templates/header.html" . }}
{{ template "templates/banner.html" . }}

<section>
  <div id="katacoda-scenario-1"
      data-katacoda-id="{{.Site.KatacodaUser}}/training/{{ .Training.Name }}/{{ .Name }}"
      data-katacoda-ctatext="More Scenarios" data-katacoda-ctaurl="https://{{.Site.VirtualHost}}/training/{{ .Training.Name }}"
      data-katacoda-color="#226aa6"
      data-katacoda-secondary="#c00"
      data-katacoda-background="#fff"
      data-katacoda-font="Open Sans"
      data-katacoda-fontheader="Open Sans"
      style="height: calc(100vh - 114px);">
  </div>
</section>

{{ template "templates/footer.html" . }}
