#version=RHEL8
clearpart --all --initlabel
autopart 
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# System language
lang en_US.UTF-8

rootpw ********
network --bootproto=dhcp --onboot=on --device=ens3
firewall --enabled --service=ssh
firstboot --disabled
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Standard" --usage="Development/Test"

user --name=packer --plaintext --password ******** 
reboot --eject

%packages
@^minimal-environment
buildah
%end

%post
# sudo
echo "%packer ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/packer
/sbin/reboot
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = xccdf_org.ssgproject.content_profile_pci-dss
%end


%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
