[defaults]
stdout_callback = yaml
connection = smart
timeout = 60
deprecation_warnings = False
host_key_checking = False
retry_files_enabled = False
inventory = hosts
roles_path = /root/ansible-freeipa/roles
libary = /root/ansible-freeipa/plugins/modules
module_utils = /root/ansible-freeipa/plugins/module_utils
