---
- hosts: all
  tasks:
  - name: Change the hostname to our standard
    hostname:
      name="{{ new_hostname }}"
    when:
      ansible_fqdn != ansible_host
        
#- hosts: all
#  tasks:
#  - name: add hostname to /etc/hosts
#    vars:
#      comment: '# added by ansible'
#    lineinfile:
#      dest: /etc/hosts
#      regexp: "127[.]0[.]0[.]1.*"
#      line: "127.0.0.1 localhost.test.local localhost {{ ansible_hostname }} {{ comment }}"
#      state: present
#      backup: yes
      
- hosts: all 
  tasks:
  - name: Add IP address of all hosts to all hosts
    lineinfile:
      dest: /etc/hosts
      regexp: '.*{{ item }}$'
      line: "{{ hostvars[item].ansible_host }} {{item}}.test.local"
      state: present
    when: hostvars[item].ansible_host is defined
    with_items: "{{ groups.all }}"
